<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssmstudy.mapper.EmpExtMapper" >
  
  <select id="selectAll" resultMap="com.ssmstudy.mapper.EmpMapper.BaseResultMap" >
    select 
    <include refid="com.ssmstudy.mapper.EmpMapper.Base_Column_List" />
    from tb_emp
  </select>

  <!-- 主键回填 -->
  <insert id="insertReturnKey" parameterType="com.ssmstudy.entity.Emp" useGeneratedKeys="true" keyProperty="id">
    insert into tb_emp (Name, sex, age, address, email)
    values (#{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
    #{age,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}
    )
  </insert>
  
</mapper>