<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssmstudy.mapper.StudentIdCardExtMapper" >
  <select id="selectAll" resultMap="com.ssmstudy.mapper.StudentIdCardMapper.BaseResultMap" >
    select
    <include refid="com.ssmstudy.mapper.StudentIdCardMapper.Base_Column_List" />
    from tb_student_id_card
  </select>

  <select id="findStudentIdCardById" resultMap="com.ssmstudy.mapper.StudentIdCardMapper.BaseResultMap" >
    select
    <include refid="com.ssmstudy.mapper.StudentIdCardMapper.Base_Column_List" />
    from tb_student_id_card
    where id = #{id}
  </select>
</mapper>