<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssmstudy.mapper.StudentExtMapper" >
  <resultMap id="StudentIdCardWithStudentResult" type="com.ssmstudy.entity.StudentDTO">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="sex" column="sex"/>
    <result property="code" column="code"/>
  </resultMap>

  <select id="selectAll" resultMap="StudentIdCardWithStudentResult" >
    select s.*, c.code
    from tb_student s
    join tb_student_id_card c
    on s.card_id = c.id
  </select>

  <select id="findStudentById" parameterType="Integer" resultMap="StudentIdCardWithStudentResult">
    select s.*, c.code from tb_student s
    join tb_student_id_card c
    on s.card_id = c.id
    where s.id = #{id}
  </select>


</mapper>